<html>
<head>
<title>The Team Hybrid Olympics</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script>
var events = [
	{name:"Penny Barge: Caggiano",scores:[
		{team:"Caggiano", score:0},
		{team:"Wills", score:0},
		{team:"Olsen", score:0},
		{team:"Butler", score:0},
		{team:"Cimini", score:0},
		{team:"Casorio", score:0},
		{team:"Turano", score:0},
		{team:"Anderson", score:0},
	]},
	{name:"Tennis Ball Game: Olsen",scores:[
		{team:"Caggiano", score:0},
		{team:"Wills", score:0},
		{team:"Olsen", score:0},
		{team:"Butler", score:0},
		{team:"Cimini", score:0},
		{team:"Casorio", score:0},
		{team:"Turano", score:0},
		{team:"Anderson", score:0},
	]},
	{name:"Team Based Activitys: Cimini",scores:[
		{team:"Caggiano", score:0},
		{team:"Wills", score:0},
		{team:"Olsen", score:0},
		{team:"Butler", score:0},
		{team:"Cimini", score:0},
		{team:"Casorio", score:0},
		{team:"Turano", score:0},
		{team:"Anderson", score:0},	
	]},
	{name:"Wills",scores:[
		{team:"Caggiano", score:0},
		{team:"Wills", score:0},
		{team:"Olsen", score:0},
		{team:"Butler", score:0},
		{team:"Cimini", score:0},
		{team:"Casorio", score:0},
		{team:"Turano", score:0},
		{team:"Anderson", score:0},
	]},
	{name:"Butler",scores:[
		{team:"Caggiano", score:0},
		{team:"Wills", score:0},
		{team:"Olsen", score:0},
		{team:"Butler", score:0},
		{team:"Cimini", score:0},
		{team:"Casorio", score:0},
		{team:"Turano", score:0},
		{team:"Anderson", score:0},
	]},
	{name:"Catupult: Casorio",scores:[
		{team:"Caggiano", score:0},
		{team:"Wills", score:0},
		{team:"Olsen", score:0},
		{team:"Butler", score:0},
		{team:"Cimini", score:0},
		{team:"Casorio", score:0},
		{team:"Turano", score:0},
		{team:"Anderson", score:0},
	]},
	{name:"Turano",scores:[
		{team:"Caggiano", score:0},
		{team:"Wills", score:0},
		{team:"Olsen", score:0},
		{team:"Butler", score:0},
		{team:"Cimini", score:0},
		{team:"Casorio", score:0},
		{team:"Turano", score:0},
		{team:"Anderson", score:0},
	]},
	{name:"Anderson",scores:[
		{team:"Caggiano", score:0},
		{team:"Wills", score:0},
		{team:"Olsen", score:0},
		{team:"Butler", score:0},
		{team:"Cimini", score:0},
		{team:"Casorio", score:0},
		{team:"Turano", score:0},
		{team:"Anderson", score:0},
	]},

];

angular.module('myApp', [])
 .controller('MyController', ['$scope', function($scope) {
    $scope.events = events  
    $scope.selected = events[0]; 
  }]);

</script>
</head>
<body ng-app="myApp" ng-controller="MyController">
<div class='container'>

Want to look at the code behind the website? Go to <a href='https://github.com/Thedude7054/thedude7054.github.io'>https://github.com/Thedude7054/thedude7054.github.io</a>

<h3>Welcome To the official page of the Team Hybrid Olympics!</h3>
<marquee behavior="scroll" direction="left"><font color="blue">The First event has been moved from Friday March 6, to Friday March 13.</font></marquee>


<div ng-repeat="event in events">
<button class='btn btn-primary'
	ng-click='$parent.selected = event'
>{{event.name}}</button>
</div>

<table class='table table-striped'>
<thead><th>Team name</th><th>Score</th></thead>
<tbody>
<tr ng-repeat="team in selected.scores">
	<td>{{team.team}}</td>
	<td>{{team.score}}</td>
</tr>
</tbody>
</table>

</div>
</body>
</html>
