<html>
<head>
<meta name="google-site-verification" content="bCwbJPza-GbE-r_qgniB1eGItaUFkFXtGSimqL1a6EI" />
<link rel="shortcut icon" href="https://cloud.githubusercontent.com/assets/11686375/6998480/4b64bbac-dbb2-11e4-80c4-ff2a4916fe87.png" />
<title>The Team Hybrid Olympics</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script>
var events = [
	{name:"Penny Barge: Caggiano",scores:[
		{team:"Cimini", score:"256 Pennies"},
		{team:"Turano", score:"242 Pennies"},
		{team:"Casorio", score:"170 Pennies"},
		{team:"Olsen", score:"158 Pennies"},
		{team:"Caggiano", score:"0 Pennies"},
		{team:"Wills", score:"0 Pennies"},
		{team:"GhostButlers", score:"0 Pennies"},
		{team:"Anderson", score:"0 Pennies"},
	]},
	{name:"Tennis Ball Game: Olsen",scores:[
		{team:"Anderson", score:"7 Balls"},
		{team:"Casorio", score:"5 Balls"},	
		{team:"Wills", score:"4 Balls"},
		{team:"Caggiano", score:"4 Balls"},	
		{team:"Turano", score:"3 Balls"},
		{team:"GhostButlers", score:"2 Balls"},
		{team:"Olsen", score:"0 Balls"},
		{team:"Cimini", score:"0 Balls"},
	]},
	{name:"Team Based Activities: Cimini",scores:[
		{team:"Cimini", score:"00:53:50"},
		{team:"Casorio", score:"1:54:00"},
		{team:"Olsen", score:"4:48:04"},
		{team:"Turano", score:"4:53:96"},
		{team:"Anderson", score:"5:06:70"},
		{team:"GhostButlers", score:"5:30:59"},	
		{team:"Wills", score:"5:51:57"},
		{team:"Caggiano", score:"6:01:84"},
	]},
	{name:"Turtle Race: Wills",scores:[
		{team:"Turano", score:"00:26"},	
		{team:"Casorio", score:"00:34"},
		{team:"Anderson", score:"00:35"},
		{team:"Caggiano", score:"00:35"},
		{team:"Olsen", score:"00:38"},	
		{team:"Wills", score:"00:46"},
		{team:"Cimini", score:"00:54"},	
		{team:"GhostButlers", score:"01:04"},
	]},
	{name:"Dance Dance Revolution: GhostButlers",scores:[
		{team:"Casorio", score:"49.9"},		
		{team:"Cimini", score:"42"},
		{team:"Caggiano", score:"35.25"},
		{team:"Olsen", score:"34.7"},	
		{team:"Wills", score:0},
		{team:"GhostButlers", score:0},
		{team:"Turano", score:0},
		{team:"Anderson", score:0},
	]},
	{name:"Catapult: Casorio",scores:[
		{team:"Turano", score:"3.36"},
		{team:"Wills", score:"3.07"},
		{team:"Anderson", score:"3.0"},
		{team:"GhostButlers", score:"2.2"},	
		{team:"Cimini", score:"1.3 "},
		{team:"Olsen", score:"1.09"},
		{team:"Caggiano", score:".58"},		
		{team:"Casorio", score:"0 "},
	]},
	{name:"Trash Bin Hockey: Turano",scores:[
		{team:"Turano", score:"15 Points"},
		{team:"Anderson", score:"14 Points"},
		{team:"Casorio", score:"12 Points"},
		{team:"Caggiano", score:"10 Points"},	
		{team:"Cimini", score:"7 Points"},	
		{team:"Olsen", score:"6 Points"},
		{team:"GhostButlers", score:"3 Points"},	
		{team:"Wills", score:"0 Points (No score) "},
	]},
	{name:"Stacking Golf Balls: Anderson",scores:[
		{team:"Caggiano", score:"100%"},
		{team:"Casorio", score:"100%"},
		{team:"GhostButlers", score:"92.3%"},
		{team:"Cimini", score:"88.8%"},
		{team:"Wills", score:"0%"},
		{team:"Olsen", score:"0%"},
		{team:"Turano", score:"0%"},
		{team:"Anderson", score:"0%"},
	]},

];

angular.module('myApp', [])
 .controller('MyController', ['$scope', function($scope) {
    $scope.events = events  
    $scope.selected = events[0]; 
  }]);

</script>
</head>
<body ng-app="myApp" ng-controller="MyController">
<div class='container'>

Want to look at the code behind the website? Go to <a href='https://github.com/Thedude7054/thedude7054.github.io'>https://github.com/Thedude7054/thedude7054.github.io</a>

The schedule for each event is <a href='https://docs.google.com/spreadsheets/d/184T4L3FmELmS3OOhL3x3jJpspDtH8IhCXDzyP-oULSY/pubhtml?gid=1544803907&single=true'>Here</a>

<h3>Welcome To the official page of the Team Hybrid Olympics!</h3>

<marquee behavior="scroll" direction="left"><font color="blue">Will be giving the website a revamp and will be adding a few surprises. <font color="red">5/21/2015 <font color="green">event <font color="purple">will <font color="orange">be <font color="blue">held <font color="indigo">like <font color="blue">normal. <font color="red"> <font color="green"> <font color="purple"> <font color="orange"> <font color="blue"> <font color="indigo"> </font></marquee>

Presented by <a href='https://www.youtube.com/channel/UC4abjrVcySqsXZAPtUJzEBQ'> Revamp Creative Studios </a> and Craig Peterson

<div ng-repeat="event in events">
<button class='btn btn-primary'
	ng-click='$parent.selected = event'
>{{event.name}}</button>
</div>
<h3>{{selected.name}}</h3>
<table class='table table-striped'>
<thead><th>Team name</th><th>Score</th></thead>
<tbody>
<tr ng-repeat="team in selected.scores">
	<td>{{team.team}}</td>
	<td>{{team.score}}</td>
</tr>
</tbody>
</table>

<script>

    alert("I will be giving the Team Hybrid Olympics website a revamp. <marque>The Website may be down between May 22, 2015 and May 25, 2015</marque>");

</script>

</div>
</body>
</html>
